/* section.container.d-flex {
    margin-top: 60px;
    margin-bottom: 100px;
    background: rgba(92, 113, 194, 0.1);
}

input.form-control {
    border: .2rem;
    border-radius: 5px;
    height: 30px;

}
.col-xl-5.col-lg-12.d-flex{
    background-color: rgba(69, 77, 116, 0.5) ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.col-xl-5{
    background-color: rgb(125, 139, 223);
} */

#miregistro {
    margin-top: 70px;
    border: solid 1px #ebebeb;
    padding: 10px;
    border-radius: 12px;
    background-color: rgba(69, 77, 116, 0.5) ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background-color: rgb(84, 85, 92);
}
.row{
    justify-content: center;
}


